<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/navigation.html :: nav"></div>
<main class="container mt-4">
    <a href="/products">Back</a>

    <h1>Product Details</h1>
    <div><strong>Product name:</strong> <span th:text="${product.productName}"></span></div>
    <div><strong>Product Id:</strong> <span th:text="${product.productId}"></span></div>
    <div><strong>Category:</strong> <span th:text="${category.categoryName}"></span></div>
    <div><strong>Quantity per unit:</strong> <span th:text="${product.quantityPerUnit}"></span></div>
    <div><strong>Unit price:</strong> <span th:text="${product.unitPrice}"></span></div>
    <div><strong>Units in stock:</strong> <span th:text="${product.unitsInStock}"></span></div>
    <div><strong>Units on order:</strong> <span th:text="${product.unitsOnOrder}"></span></div>
    <div><strong>Reorder level:</strong> <span th:text="${product.reorderLevel}"></span></div>
</main>
</body>
</html>