<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/navigation.html :: nav"></div>
<main class="container mt-4">
    <h1 th:text="'Products: ' + ${category.categoryName}"></h1>
    <form action="products" method="get">
        <input type="text" name="catId" placeholder="Category Id">
        <input type="submit" value="Search">
    </form>
    <a th:href="@{/products/add}" class="btn btn-primary my-4">Add new product</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product:${products}">
                <td th:text="${product.productId}"></td>
                <td><a th:href="@{|/products/${product.productId}|}" th:text="${product.productName}"></a></td>
                <td th:text="${#numbers.formatCurrency(product.unitPrice)}"></td>
                <td>
                    <a th:href="@{|/products/${product.productId}/edit|}" class="btn btn-warning">Edit</a>
                    <a th:href="@{|/products/${product.productId}/delete|}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>
</body>
</html>