body
{
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 100%;
    margin: auto;
}

main
{
    margin-top: 90px;
    margin-bottom: 100px;
}

.navbar
{
    font-weight: 700;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul
{
    list-style: none;
    display: flex;
}

.navbar a
{
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    color: #fff;
}

.logo
{
    width: 175px;
    vertical-align: middle;
}

.container
{
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
}

.container.flex
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

h2
{
    font-family: Roboto Slab, sans-serif;
    font-weight: 900;
    font-size: 4.5em;
    margin-top: 20px;
    margin-bottom: 30px;
}

h1
{
    font-family: Roboto Slab, sans-serif;
    font-weight: 900;
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: 30px;
}

h1.top-page
{
    margin-top: 150px;
}

footer
{
    background: url(images/footer.svg), linear-gradient(102.43deg, #3d098e, #f700f6);
    background-blend-mode: luminosity, normal;
    background-position: 50%;
    background-size: cover;
    color: #fff;
    padding: 20px;
}

.card
{
    border-radius: 16px;
    border: 2px solid #3d098e;
    margin: 0 10px;
    width: 350px;
}

.card img
{
    border-radius: 16px 16px 0 0;
}

.card-container
{
    padding: 3px 16px;
}

b
{
    font-family: Roboto Slab, sans-serif;
    font-weight: 900;
    font-size: 2em;
}

section
{
    padding-bottom: 50px;
}