<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/navigation.html :: nav"></div>
<main class="container mt-4">
    <a href="/categories">Back</a>

    <h1>Category Details</h1>
    <div><strong>Id:</strong> <span th:text="${category.categoryId}"></span></div>
    <div><strong>Category name:</strong> <span th:text="${category.categoryName}"></span></div>
    <div><strong>Description:</strong> <span th:text="${category.description}"></span></div>
</main>
</body>
</html>