<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/navigation.html :: nav"></div>
<main class="container mt-4">
    <h1>404 Error</h1>

    <p th:text="${message}"></p>

    <a th:if="${type} == 'categories'" th:href="@{/categories}" class="btn btn-primary my-4">&lt; Return to categories</a>
    <a th:if="${type} == 'products'" th:href="@{/products}" class="btn btn-primary my-4">&lt; Return to products</a>
</main>
</body>
</html>