:root {
    --color-primary: #1c1c1c;
    --color-complete: #1c1c1c33;
    --color-med: #979797;
    --color-light: #ffffff;
    --color-danger: #ff0000;
    --color-danger-hover: #df0000;
    --color-warning: rgb(255, 162, 0);
    --color-success: rgb(140, 187, 41);
    --bg-primary: #e2e2e2;
    --bg-primary-light: #ffffff66;
    --bg-danger: #ffdfdf;
    --bg-warning: #ffefdf;
    --font-size: 100%;
    --font-family: 'Suse', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(43deg, #ddd6f3, #faaca8);
    background-blend-mode: luminosity, normal;
    background-size: auto;
    height: 100%;
    background-attachment: fixed;
    font-family: var(--font-family);
    font-size: 1em;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 800px;
    margin: 50px auto;
    gap: 30px;
    align-items: flex-start;
}

#title {
    color: white;
    font-weight: 800;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-list {
    width: 100%;
    margin-bottom: 15px;
}

.add-item
{
    box-shadow: 2px 2px 7px rgba(168, 36, 80, 0.2);
    width: 65%;
    height: 40px;
    padding: 5px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
}

input[type="text"], button
{
    font-family: var(--font-family);
    font-size: 1em;
}

.edit-grocery-item
{
    border: 1px solid #e0e2f0;
    background-color: #f4f4f7;
    border-radius: 4px;
    padding: 6px;
    width: 50%;
}

.add-quantity
{
    width: 25%;
}

.add-button
{
    border-radius: 6px;
    border: 0;
    background-color: #7395dd;
    box-shadow: 2px 2px 7px rgba(168, 36, 80, 0.2);
    padding: 5px 13px;
    cursor: pointer;
}

.form-flex
{
    display: flex;
}

hr
{
    border-top: 1px  solid rgba(255, 255, 255, 0.164);
    opacity: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--color-light);
    width: 100%;
    height: 50px;
    border-radius: 6px;
    box-shadow: 2px 2px 7px rgba(168, 36, 80, 0.2);
    margin-bottom: 10px;
}

.quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}
.super {
    display: inline-block;
    font-size: .5em;
    color: var(--color-med);
}

.btn {
    border-radius: 30px;
    border: 0;
    background-color: #f14167;
    box-shadow: 2px 2px 7px rgba(168, 36, 80, 0.2);
    padding: 15px 20px;
    color: var(--color-light);
    font-weight: 600;
}

.btn:hover {
    background-color: var(--color-danger-hover);

}

html
{
    height: 100%;
}

.completed {
    background-color: var(--bg-primary-light);
    color: var(--color-complete);
}

.completed > .grocery-name
{
    text-decoration: line-through;
}

.grocery-name
{
    width: 50%;
}

input[type="checkbox"].hideDefaultCheckbox
{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark
{
    background-image: url(/img/square-regular.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
    background-origin: content-box;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.checkmark-completed
{
    background-image: url(/img/square-check-regular.svg);
    opacity: 33%;
    background-repeat: no-repeat;
}

button
{
    cursor: pointer;
    border-radius: 6px;
}

.delete-button
{
    background-color: rgb(201, 184, 184);
    padding: 2px 3px;
    width: 60px;
}

.edit-button
{
    background-color: #7395dd;
    padding: 2px 3px;
    width: 60px;
}

.completed > .delete-button, .completed >.edit-button
{
    opacity: 30%;
    cursor: default;
}

/* .hover
{
    opacity: 90%;
}

.hover > .checkmark
{
    background-image: url(/img/square-check-regular.svg);
    background-repeat: no-repeat;
} */


